:root{
		--text-color: rgb(0, 0, 36);
		--main-title-font: 'Arizonia', cursive;
		--pink: #ff0078;
		--green: #00bcb1;
		--light-green: #67cbaf;
		--yellow: #d9dba1;
		--light-pink: #ff9797;
		--font-family-1: 'Mukta Malar', sans-serif;;
}
/*_________________ BUTTONS ___________________*/
button {
    cursor: pointer;
    max-height: 50px;
    min-height: 50px;
}
.btn-likes {
    background-color: transparent;
    color: var(--pink);
    border: none;
    text-align: left;
}

.btn-likes > span {
    padding: 10px;  
}

.btn-delete:hover {
    cursor: not-allowed;
}

.btn-delete:hover {
	font-size: 1em;
	padding: 10px;
	border: 2px solid var(--pink);
	border-radius: 5px;
	color: white;
	background: linear-gradient(var(--pink), var(--light-pink));
 }
 
.btn-delete,
.btn-back {
    width: 220px;
	font-size: 1em;
	padding: 10px 0;
	border: 2px solid var(--green);
	border-radius: 5px;
	color: white;
    background: linear-gradient(var(--yellow), var(--light-green));
    font-family: var(--font-family-1);
 }

.btn-add {
    width: 220px;
    font-size: 1em;
	padding: 10px 0;
	border: 2px solid var(--green);
	border-radius: 5px;
	color: white;
    background: linear-gradient(var(--yellow), var(--light-green));
    font-family: var(--font-family-1);
    text-align: center;
	display: inline-block;
	margin: 10px 0;
	height: 20px;
	position: absolute;
	bottom: 10px;
    right: 0px;
}

.single-post a {
    text-align: center;
    font-family: var(--font-family-1);
    font-size: 1.1em;
}
/*___________________IMG ________________*/
.recipe-avatar {
	width: 100px;
	height: 100px;
    justify-self: end;
    box-shadow: 2px 9px 50px -9px var(--pink);
    border-radius: 3px;
}